@font-face {
	font-family: 'Suntime Seasons';
	src: url(../../assets/fonts/Suntime%20Seasons-1ee1acef03d9a6a5a4cef6c6a811e12b.woff2) format('woff2'),
	url(../../assets/fonts/Suntime%20Seasons-73e6cf5a856d08f6644fe18150eb0b97.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suntime Seasons';
	src: url(../../assets/fonts/Suntime%20Seasons-1ee1acef03d9a6a5a4cef6c6a811e12b.woff2) format('woff2'),
	url(../../assets/fonts/Suntime%20Seasons-73e6cf5a856d08f6644fe18150eb0b97.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suntime Seasons';
	src: url(../../assets/fonts/Suntime%20Seasons-1ee1acef03d9a6a5a4cef6c6a811e12b.woff2) format('woff2'),
	url(../../assets/fonts/Suntime%20Seasons-73e6cf5a856d08f6644fe18150eb0b97.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suntime Seasons';
	src: url(../../assets/fonts/Suntime%20Seasons-1ee1acef03d9a6a5a4cef6c6a811e12b.woff2) format('woff2'),
	url(../../assets/fonts/Suntime%20Seasons-73e6cf5a856d08f6644fe18150eb0b97.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Suntime Seasons';
	src: url(../../assets/fonts/Suntime%20Seasons-1ee1acef03d9a6a5a4cef6c6a811e12b.woff2) format('woff2'),
	url(../../assets/fonts/Suntime%20Seasons-73e6cf5a856d08f6644fe18150eb0b97.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}